.new_wrapper
  .new_header
    %h1
    You are what you eat!!
  .form
    = form_for(@mypage, method: :patch) do |f|
      .new_upper
        .new_mypage_day#edit_day
          #{@mypage.day}
          = f.hidden_field :day
        -# .new_mypage_image
        -#   写真があれば
        -#   = f.file_field :image
        .new_mypage_weight#edit_weight
          体重
          #{@mypage.weight}
          kg
          = f.hidden_field :weight
      .new_middle
        %div
          朝食
          .new_mypage_morning
            .new_mypage_morning-text
              = f.text_area :morning_menu, placeholder: "食べたものを書こう", rows: "5",class:'morning-text'
            .new_mypage_morning-data
              %div
              タンパク質
              = f.number_field :morning_p, min: 0 , max:100
              g
              %div
              脂質　　　
              = f.number_field :morning_f, min: 0 , max:100
              g
              %div
              炭水化物　
              = f.number_field :morning_c, min: 0 , max:300
              g
              %div
              カロリー　
              = f.number_field :morning_cal, min: 0 , max:3000, step:10
              cal
        %div
          間食（午前）
          .new_mypage_morning
            .new_mypage_morning-text
              = f.text_area :blunch_menu, placeholder: "食べたものを書こう", rows: "5",class:'morning-text'
            .new_mypage_morning-data
              %div
              タンパク質
              = f.number_field :blunch_p, min: 0 , max:100
              g
              %div
              脂質　　　
              = f.number_field :blunch_f, min: 0 , max:100
              g
              %div
              炭水化物　
              = f.number_field :blunch_c, min: 0 , max:300
              g
              %div
              カロリー　
              = f.number_field :blunch_cal, min: 0 , max:3000, step:10
              cal
        %div
          昼食
          .new_mypage_morning
            .new_mypage_morning-text
              = f.text_area :lunch_menu, placeholder: "食べたものを書こう", rows: "5",class:'morning-text'
            .new_mypage_morning-data
              %div
              タンパク質
              = f.number_field :lunch_p, min: 0 , max:100
              g
              %div
              脂質　　　
              = f.number_field :lunch_f, min: 0 , max:100
              g
              %div
              炭水化物　
              = f.number_field :lunch_c, min: 0 , max:300
              g
              %div
              カロリー　
              = f.number_field :lunch_cal, min: 0 , max:3000, step:10
              cal
      .new_middle
        %div
          間食（午後）
          .new_mypage_morning
            .new_mypage_morning-text
              = f.text_area :after_noon_menu, placeholder: "食べたものを書こう", rows: "5",class:'morning-text'
            .new_mypage_morning-data
              %div
              タンパク質
              = f.number_field :after_noon_p, min: 0 , max:100
              g
              %div
              脂質　　　
              = f.number_field :after_noon_f, min: 0 , max:100
              g
              %div
              炭水化物　
              = f.number_field :after_noon_c, min: 0 , max:300
              g
              %div
              カロリー　
              = f.number_field :after_noon_cal, min: 0 , max:3000, step:10
              cal
        %div
          夕食
          .new_mypage_morning
            .new_mypage_morning-text
              = f.text_area :dinner_menu, placeholder: "食べたものを書こう", rows: "5",class:'morning-text'
            .new_mypage_morning-data
              %div
              タンパク質
              = f.number_field :dinner_p, min: 0 , max:100
              g
              %div
              脂質　　　
              = f.number_field :dinner_f, min: 0 , max:100
              g
              %div
              炭水化物　
              = f.number_field :dinner_c, min: 0 , max:300
              g
              %div
              カロリー　
              = f.number_field :dinner_cal, min: 0 , max:3000, step:10
              cal
        %div
          夜食
          .new_mypage_morning
            .new_mypage_morning-text
              = f.text_area :late_menu, placeholder: "食べたものを書こう", rows: "5",class:'morning-text'
            .new_mypage_morning-data
              %div
              タンパク質
              = f.number_field :late_p, min: 0 , max:100
              g
              %div
              脂質　　　
              = f.number_field :late_f, min: 0 , max:100
              g
              %div
              炭水化物　
              = f.number_field :late_c, min: 0 , max:300
              g
              %div
              カロリー　
              = f.number_field :late_cal, min: 0 , max:3000, step:10
              cal
              =f.hidden_field :user_id


      .submit
        = f.submit :登録する,class:'btn-gradient-3d-orange'

