.wrapper
  .mypage_index
    %h2.title My Page
    .header
      .header_content
        .header_content
        - if user_signed_in?
          .TOP
          = link_to 'TOP', root_path,class:'btn-gradient-3d-orange', id:'btn-top'
          .log_out
          = link_to " ログアウト", destroy_user_session_path, method: :delete,class:'btn-gradient-3d-orange', id:'btn-top'
        - else
          .new_user
          = link_to '新規登録', new_user_registration_path, method: :get,class:'btn-gradient-3d-orange', id:'btn-top'
          .log_in
          = link_to 'ログイン', new_user_session_path, method: :get,class:'btn-gradient-3d-orange', id:'btn-top'


    .main#sec
      .main-diary
        %span.my_diary
          = link_to '今日の食事を記録する', new_mypage_path, class:'btn-gradient-3d-orange',id:'myp-btn'
      
      .lists
        -@user.mypage.each do |mypage|
          .card3
            .box3
              = image_tag '/dnbl.jpg', class: 'image3'
              %div
                %p.title3
                  = link_to mypage.day, mypage_path(mypage),class:'title3'
                %p.content3
                  good luck! #{@user.nickname}
      
        
        
        
        
        -# = line_chart [mypage.day,mypage.weight] 
        -# = line_chart @user_data.group("date(day)").count
        -# = line_chart mypage.weight.group_by_day(:day).count
      
        