.wrapper
  .mypage_index
    %h2.title My Page
    .header
      .header_content
        .header_content
        - if user_signed_in?
          .TOP
          = link_to 'TOP', root_path,class:'btn-gradient-3d-orange', id:'btn-top'
          .log_out
          = link_to " ログアウト", destroy_user_session_path, method: :delete,class:'btn-gradient-3d-orange', id:'btn-top'
        - else
          .new_user
          = link_to '新規登録', new_user_registration_path, method: :get,class:'btn-gradient-3d-orange', id:'btn-top'
          .log_in
          = link_to 'ログイン', new_user_session_path, method: :get,class:'btn-gradient-3d-orange', id:'btn-top'


    .main#sec
      .main-diary
        %span.my_diary
          = link_to '今日の食事を記録する', new_mypage_path, class:'btn-gradient-3d-orange',id:'myp-btn'
      
      .lists
        -@mypage.each do |mypage|
          - if current_user.id == mypage.user.id
            .card
              .box
                = image_tag '/dnbl.jpg', class: 'image'
                %div
                  %p.listDay
                    = link_to mypage.day, mypage_path(mypage),class:'listDay'
                  %p.content
                    good luck! #{@user.nickname}
          - else
                 